<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.user && user.id === file.userId) { %>
        <p>Name: <%= file.originalName %></p>
        <p>Size: <%= file.size %></p>
        <p>Uploaded at: <%= file.uploadedAt %></p>
        <a href="/<%= file.relativePath %>" download="<%= file.originalName %>">Download</a>
    <% } else { %>
    <p>Unauthorized request</p>
    <% } %> 
    
</body>
</html>